.containerCadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagemCadastro {
    width: 45%;
    overflow: hidden;
}

.imagemCadastro img {
    width: 100%;
    height: 99.9vh;
    object-fit: cover;
}

.containerConteudo {
    width: 50%;
}

.containerGeral {
    width: 90%;
    margin: auto;
}

.containerForm {
    padding-right: 3rem;
}

.containerForm h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
}