.formFooter {
    gap: 20px;
    margin-left: 200px;
}


.formLabel {
    color: #ffffff;
}

.formInput {
    width: 400px;
    height: 40px;
    /* margin: 5px; */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;

}

.formText {
    display: flex;
    height: 80px;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 20px;
}

.formEnviar {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #0d0d0d;
    text-decoration: none;
    background-color: #e6e9f0;
    width: 100px;
    height: 30px;
    transition: 0.3s ease-in;
}

.formEnviar:hover {
    background-color: #87c4ec;
    color: #333;
}

/* div com a bicicleta e redes */
.bike{
    max-width: 60%;
}

.redes-sociais img{
    max-width: 75px;
}

.redes-sociais{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.redes-sociais, .formFooter{
    max-width: 50%;
}
