.botoes {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.btnAtualizar {
    height: 60px;
    width: 160px;
    border-radius: 8px;
    font-size: 25px;
    border: none;
    transition: 0.3s ease-in;
}

.btnAtualizar:hover {
    background-color: #87c4ec;
    color: #333;
}

.btnExcluir{
    height: 45px;
    width: 160px;
    border-radius: 8px;
    font-size: 25px;
    border: none;
    transition: 0.3s ease-in;
}

.btnExcluir:hover {
    background-color: #87c4ec;
    color: #333;
}
