.container-lista-produtos {
  margin: 5%;
}

.container-lista-produtos h2{
  font-family: 'Abril Fatface', serif;
}

.container-lista {
  padding-top: 4rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.card-livro {
  flex-basis: calc(25% - 2rem);}