.container-lista-produtos {
  margin-top: 5%;
  margin-bottom: 5%;
}

.container-lista-produtos h2 {
  padding: 25px;
}

.container-lista {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}