.container-geral{
    padding: 1.5rem;
    background-color: #638280;
}

.container-menu-footer{
    background-color: #FFF5D6;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.container-menu-footer h3{
    font-family: 'Abril Fatface', serif;
    color: #1c3836;
}

.menu-institucional{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-decoration: none;
}

.menu-institucional a{
    text-decoration: none;
    color: black;
}

.menu-institucional a:hover {
    font-weight: 700;
}

.form-assinatura input{
    max-width: 21rem;
    max-height: 2rem;
    font-size: 1rem;
}

.assine-ja{
    width: 100%;
}

.redes-sociais{
    align-items: center;
    display: flex;
    gap: 0.5rem
}

.assine-ja {
    display: inline-block;
    background-color: #638280;
    padding: 0.4rem;
    width: 100%;
    text-align: center;
    color: white;
    outline: none;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    border: none; 
    font-size: 1rem;
}

.assine-ja:hover {
background-color: black;
transition: 0.2s ease-in;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}