.card-livro {
    border: 1px solid black;
    /* alterar p azul */
    width: 350px;
    height: 530px;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.imagem-livro {
    max-width: 250px;
}

.container-detalhes-livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.titulo-livro {
    padding-top: 5px;
    font-size: 30px;
}

.nome-autor {
    font-size: 20px;
    padding: 0.5rem 0;
}

.preco {
    font-size: 30px;
    font-weight: 700;
    color: black
        /* alterar cor */
}

.botao-compra {
    background-color: blue;
    display: inline-block;
    width: 250px;
    height: 40px;
    /* padding: 1rem, 0; */
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

.botao-compra:hover {
    background-color: black;
    transition: 0.2s ease-in
}