.card-livro {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    width: fit-content;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid white; 
}

.card-livro:hover {
    border: 1px solid #638280; 
    box-shadow: 0px 0px 10px rgba(99, 130, 128, 0.5); 
}

.imagem-livro {
    max-height: 250px;
}

.container-detalhes-livro {
    padding: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
}

.nome-autor {
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

.preco {
    font-size: 1.5rem;
    font-weight: 600;
    color: black
        
}

.botao-compra {
        display: inline-block;
        background-color: #96B7B5;
        width: 100%;
        padding: 0.4rem;
        text-align: center;
        color: white;
        outline: none;
        text-decoration: none;
        margin-top: 2rem;
        transition: 0.2s ease-in;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
        border: none; 
    }

.botao-compra:hover {
    background-color: black;
    transition: 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}