.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding: 1rem
}

.cartao-banner, .frete-banner, .email-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:1rem
}