.headerContainer {
    background-color: var(--verde-escuro);
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 0.5rem;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    color: var(--bege);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 20px;
    transition: 0.2s ease-in;
    font-family: 'Abril Fatface', serif;
}

.navLinks:hover {
    color: var(--verde-claro);
}