@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter+Tight:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

:root {
    --branco: #fff;
    --azul: #69cbe9d2;
    --azul-escuro: #253943;
    --azul-claro: #26a5c9;
    --bege: #FFF5D6;
    --verde: #638280;
    --verde-claro: #96B7B5;
    --verde-escuro: #0f232d;
    --laranja: #B38B6D;
    --cinza-sombra: #eeeeee75;
    --preto-sombra: rgba(0, 0, 0, 0.2);
    --preto: #222;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--laranja)
}

.link:hover {
    transition: 0.2s;
    color: var(--azul-escuro);
}

p {
    font-size: 20px;
    font-weight: 500;
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 28px;
}

h2 {
    font-size: 28px;
    margin-top: 30px;
}

label {
    font-family: 'Inter Tight', sans-serif;
    font-size: 25px;
}

input {
    width: 450px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

/* BARRA DE ROLAGEM */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--verde-escuro);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--verde);
    border-radius: 20px;
    border: 2px solid var(--preto-sombra);
}

form {
    display: flex;
    flex-direction: column;
}